html, body { min-height: 100%; }

:root {
    --theme: rgb(128, 128, 128);
    --theme-alt: rgb(202, 202, 202);
    --theme-transparent: rgba(74, 74, 74, 0.777);
    --theme-background: rgb(219, 219, 219);
    --theme-background-alt: rgb(233, 233, 233);
    --font-main: 'Rajdhani', sans-serif;
}

body {
    font-family: var(--font-main);
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
    margin: 0;
    image-rendering: pixelated;
}

#loading-screen, #info-popup, #console, #Chat-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#loading-screen {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, var(--theme) 100%);
}

#loading-text {
    height: 80px;
    overflow-y: scroll;
}

.loading {
    animation: rotateY-anim 5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.ui-box {
    background-color: var(--theme);
    background: linear-gradient(var(--theme), var(--theme-alt));
    max-width: 90%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
    box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.5), inset 1px 1px 2px 0px rgba(255, 255, 255, 0.5);
}

#info-popup {
    display: none;
    z-index: 200;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    justify-content: space-between;
    text-align: center;
    
}

#info-popup #info-popup-close {
    position: fixed;
    right: 0;
}

#info-popup-content {
    background-color: var(--theme-background);
}

canvas {
    display: block;
}

#console {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    top: 0%; left: 0%;
    /* transform: translateX(calc(-100% + 53px)) translateY(-50%); */
    transition: all 0.2s;
}

#app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--theme-transparent);
    font-size: 1.2rem;
    
}

.dropdown-option {
    overflow-wrap: break-word;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.dropdown-option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#Chat-screen {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    bottom: 5px; left: 50%; transform: translateX(-50%);
}

.consoleShape {
    background-color: var(--theme);
    padding: 2px 8px;
    clip-path: polygon(90% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
    border-radius: 2px;
}

#chat-name {
    position: fixed;
    top: 0x; left: 10px; transform: translateY(calc(-100%));
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    
    /* box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.5), inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5); */
    margin: 0px 4px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    transition: all 0.1s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.title {
    display: flex;
    justify-content: center;
}

#chat-log {
    overflow-y: scroll;
    max-height: 100px;
    width: 100%;
    background-color: var(--theme-background);

    padding: 5px;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 2px 0px rgba(0,0,0,0.5), inset 1px 1px 2px 0px rgba(0,0,0,0.5);

}

.scanlines {
    text-shadow: 0 0 5px #C8C8C8;
    background: repeating-linear-gradient(
        0deg,
        var(--theme-background),
        var(--theme-background) 8px,
        var(--theme-background-alt) 8px,
        var(--theme-background-alt) 14px,
        var(--theme-background) 14px,
        var(--theme-background) 15px
    );
    background-size: 100% 1024px; /* Adjust size as needed */

    background-repeat: repeat-y;
    animation: scrollBackground 256s linear infinite;
}

#chat-options {
    display: none;
    width: 100%;
    padding: 2px;
}



/* dropdown menu stuff */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > span {
    display: block;
    padding: 0px 10px;
}

.dropdown > span:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.dropdown > span:active {
    background-color: darkgrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-direction:column;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 2px;
    background-color: rgba(212, 212, 212, 0.757);
    transition: all 0.2s;
    border-radius: 6px;
}

.dropdown:hover > .dropdown-content {
    display: flex;
    z-index: 200;
}

.dropdown-content > .dropdown:hover > .dropdown-content {
    display: block;
    top: 0;
    left: 100%;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.option-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    max-width: 200px;
    height: 200px;
}

.doober {
    width: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.ad {
    width: 300px;
    max-width: 90vw;
    aspect-ratio: 3 / 1;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2px;
}

#network-indicator {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    border: 4px solid transparent;
    background-image: url("data:image/svg+xml,%09%09%09%09%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-10%20100%20105%22%20x%3D%220px%22%20y%3D%220px%22%3E%3Crect%20x%3D%2245.154909407%22%20y%3D%2275.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%225.154909407%22%20y%3D%225.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2215.154909407%22%20y%3D%2215.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2225.154909407%22%20y%3D%2225.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2225.154909407%22%20y%3D%2255.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2265.154909407%22%20y%3D%2255.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2235.189708337%22%20y%3D%2245.106995306%22%20width%3D%2229.965201069%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%225.154909407%22%20y%3D%2235.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2285.154909407%22%20y%3D%2235.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2275.154909407%22%20y%3D%2225.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2235.154909407%22%20y%3D%2215.106995306%22%20width%3D%2240%22%20height%3D%2210%22%2F%3E%3Crect%20x%3D%2275.154909407%22%20y%3D%2275.106995306%22%20width%3D%2210%22%20height%3D%229.999938965%22%2F%3E%3Crect%20x%3D%2285.154909407%22%20y%3D%2285.106995306%22%20width%3D%2210%22%20height%3D%2210%22%2F%3E%3C%2Fsvg%3E%0A");
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}

@keyframes rotateY-anim {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform:rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes scrollBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}

@media only screen and (max-width: 300px) {
    .dropdown > span {
        padding: 0px 4px;
        font-size: 1rem;
    }
    
    .dropdown-content {
        margin-left: -10px;
    }
    
    .dropdown-content > .dropdown:hover > .dropdown-content {
        left: 20%;
    }
    
    button {
        font-size: 1rem;
    }
    
    #network-indicator {
        height: 20px;
        width: 20px;
    }
}

